#navbar {
    position:  fixed;
    top: 0;
    width: 100vw;
    z-index: 4;
    background-color: rgb(28, 27, 27);
    color: rgb(160, 154, 154);
}

#home {
    color: rgb(160, 154, 154);
}

#navbar ul {
    margin:0;
    padding: 0;
    list-style: none;
}

#navbar ul li {
    float: left;
    width: 100px; /*padding maybe */
    line-height: 40px;
    text-align: center;
    height: 38px;
}

#navbar ul li a {
    text-decoration: none;
    color: black; 
    display: block;
}

#navbar ul li a:hover {
    font-size: larger;
}

#navbar ul li ul li {
    display: none;
}

#navbar ul li ul li a {
    width: 100px;
    color: rgb(160, 154, 154);
    background-color: rgb(28, 27, 27);
    border-bottom: 6px solid black;
}

#navbar ul li:hover ul li {
    display: block;
}

#navbar i {
    float: right;
    padding: 14px 16px;
    font-size: 17px;
    color: white;
}

#navbar i:hover {
    cursor: pointer;
}

.searchInput form {
    float: right;
    margin-top: 1vh;
    margin-right: 3vw;
}

input#input:focus {
   width: 400px;
}

input#input::placeholder {
    padding: 2px;
}