body { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

#artist:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(128, 128, 128) inset;
}

#youtube {
    margin-top: 20px;
    opacity: .93; 
}

#submit {
  cursor: pointer;
}

#lookitup {
  background-color: rgba(0, 0, 0, .83);
  color: white;
  font-size: 28px;
  letter-spacing: 2px;
}

#info {
    width: 450px;
    background-color: rgba(0, 0, 0, .75);
    color: rgb(223, 223, 223);
    margin: 0 auto;
    padding: 3px;
    display: none;
}