.slick-slide {
      /* width: auto !important; */
      margin: 0;
      padding: 0;
}

.slider {
      position: relative;
}

.slick-prev, .slick-next {
      position: absolute;
      top: 50%;
      height: 40px;
      width: 40px;
      font-size: 40px;
      z-index: 30;
}

.slick-prev {
      left: -10%;
}

.slick-next {
      right: -10%;
}

.slick-cloned {
      /* display: none !important; */
}