@import url('https://fonts.googleapis.com/css?family=EB+Garamond|PT+Sans+Narrow');
#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 100%;
    float: left;
    z-index: 1;
    position: relative;
}

#slider figure div {
    width: 20%;
    float: left;
}

.title {
    z-index: 30;
    font-size: 50px;
    margin-left: 30px;
    position: absolute;
    top: 230px;
    color: rgb(255, 255, 255);
    font-family: "EB Garamond";
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%
    }
    45% {
        left: -100%
    }
    50% {
        left: -200%
    }
    70% {
        left: -200%
    }
    75% {
        left: -300%
    }
    95% {
        left: -300%
    }
    100% {
        left: -400%
    }
}