.related {
    margin-top: 125px;
    background-color: rgba(21, 21, 21, .7);
    padding: 20px;
    border-top: 2px solid rgba(21, 21, 21, .7);
}

.related div h1{
    color: whitesmoke;
}

.relatedFilm img {
    height: 190px;
    width: 20vh;
}